.box {
  display: grid;
  height: 200px;
  width: 200px;
  justify-items: center;
  align-items: center;
}
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  
}
.main-container header {
  grid-column: 1 / -1;
}
.header-container {
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
